.bg_03{ background:url(../images/bg_vimovo03.png) 0 0 no-repeat; position:absolute; top:0; left:0; width:1024px; height:768px;}

 .claim{ font-size:48px;}
  .content03{ width:580px; position:absolute; top:153px; left:370px; color:#FFF; }
  .content03 .content03_title{ font-size:24px; border-bottom:2px solid #FFF; padding-bottom:26px; margin-bottom:30px; line-height:30px; text-shadow: 1px 1px 8px RGBA(144,144,144,0.65);}
  .content03 p{ line-height:22px; margin-bottom:22px}

 .claim {
text-shadow: 0 2px 5px RGBA(11,46,87,0.65);
}