.bg_quest { background:url(../../global/images/bg_quest.png) 0 0 no-repeat; width:1024px; height:768px; position:absolute;}

.button1,.button2,.button3,.button4,.button5 {background:url(../images/button.png) no-repeat; width:546px; height:74px; left:390px; position:absolute;background-size: 546px 74px;}
.button1:hover,.button2:hover,.button3:hover,.button4:hover,.button5:hover{ background:url(../images/button_active.png) no-repeat;}
.button1_act,.button2_act,.button3_act,.button4_act,.button5_act {background:url(../images/button_active.png) no-repeat; width:546px; height:74px; left:390px; position:absolute;background-size: 546px 74px;}

.button1 {top:200px;}
.button1_act {top:200px;}
.button2 {top:280px;}
.button2_act {top:280px;display:none;}
.button3 {top:360px;}
.button3_act {top:360px;display:none;}
.button4 {top:440px;}
.button4_act {top:440px;display:none;}
.button5 {top:520px;}
.button5_act {top:520px;display:none;}


.num01,.num02,.num03,.num04,.num05 {position:absolute; font-size:50px; left:18px; top:5px;}
.text01,.text02,.text03,.text04,.text05 {position:absolute; font-size:24px; left:80px; top:20px;}
.text01_act,.text02_act,.text03_act,.text04_act,.text05_act {position:absolute; font-size:24px; left:80px; top:20px;}

.white {color:#FFF;}
