 .text_02{ font-size:38px; position:absolute; top:330px; left:565px; width:310px; }
 .logo_big02{ width:340px; height:170px; background:url(../images/logo_big02.jpg) 0 0 no-repeat; position:absolute; top:320px; left:182px; background-size: 340px 170px;}
  .scroll_info .ref{ padding-left:0;}