 .text01, .text02, .text03, .text04, .text05, .text06, .text07, .text08, .text09, .text10  {position:absolute; left:50px; width:900px;font-size:13px;line-height:16px;}
 .s14 {font-size:13px;}
 .text01 {font-size:16px; top:168px;}
 .text02 {font-size:18px; top:200px;}
 .text03 {top:231px;}
 .text04 {top:277px;}
 .text05 {top:306px;}
 .text06 {top:384px;}
 .text07 {top:478px;}
 .text08 {top:557px;}
 .text09 {top:586px;}
 .text10 {top:616px;}