html * {
	-webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
	-webkit-tap-highlight-color: rgba(0,0,0,0);  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
	-webkit-user-select: none; /* prevent copy paste, to allow, change 'none' to 'text' */
}
html, body { margin:0; padding:0; font-family: 'Helv_Roman';}

/* Wrapper------------------------------*/
#container {

	height: 768px;
	width: 1024px;
	padding:0; /*Default for all screen you can overlay it if you want , remember change width and height too*/
	position: relative;	
	color:#777a7d;
}
sup, sub{ line-height:0; font-size:65%}
.bg_orange{ background:url(../images/bg_orange.jpg) 0 0 no-repeat; position:absolute; top:0; left:0; width:1024px; height:768px;}
.bg_blue{ background:url(../images/bg_blue.jpg) 0 0 no-repeat;  position:absolute; top:0; left:0; width:1024px; height:768px;}


.btn_reload{ width:40px; height:40px; background:url(../images/btn_reload.png) 0 0 no-repeat; position:absolute; top:650px; left:40px; background-size:40px 40px;}
/*popup methodology----*/


/*Color ----------------*/
.brown   {color:#ce5029;}
.blue	  {color:#216bbe;}
.orange {color:#ce5029;}
.grey {color:#777a7d;}
.green{color:#7aa332;}
.black{ color:#444;}


/* Font-face class ----------------------*/
.Helvetica_Round_Bold      { font-family: 'Helv_Round_Bold';}
.HelveticaLTStd_Roman       { font-family: 'Helv_Roman';}
.HelveticaNeueLTStd_Th     { font-family: 'Helv_light';}
.HelveticaNeueLTStd_bold     {font-family: 'Helvetica_Bold';}
.HelveticaNeueLTStd_it     {font-family: 'Helv_it';}

/*menu top---*/
.claim{ text-align:center; font-size:42px; color:#FFF; font-family: 'Helv_Round_Bold';
text-shadow:0 2px 5px RGBA(222,178,3,0.85);

display: -webkit-box;
-webkit-box-orient: horizontal;
-webkit-box-align: center;
-webkit-box-pack: center;
height:120px;}

#menu-wrapper .navbutton-ref a {
background: url(../images/ref.png) center center no-repeat;
width:48px;
background-size: 48px 38px;
}
#menu-wrapper .navbutton-info a {
background: url(../images/rel.png) center center no-repeat;
width:48px;
background-size: 48px 38px;
}

 /* Ref class ----------------------------*/
.info_wrapper {
 width:1024px;
 height:768px;
 position:absolute;
 top:0;
 left:0;
 z-index:99;
 background-color:#000;
 opacity:0.6;
 display:none;
}

.ref_wrapper {
 width:1024px;
 height:768px;
 position:absolute;
 top:0;
 left:0;
 z-index:99;
 background-color:#000;
 opacity:0.6;
 display:none;
}
.bg_ref1{background:url(../images/bg_ref1.png) !important;}

h1 {
 font-size:18px;
 margin:0 0px 10px;
 color:#ce5029;
}
.ref {
 position:relative;
 padding-left:18px;
 margin-bottom:10px;
 line-height:18px;
 font-size:14px !important;
 color:#636363;
}


.ref i{ font-family: 'Helv_it';}
.ref span.ref_number {
 position:absolute;
 top:0px;
 left:0px;
 padding-left:1px;
 width:18px;
}
.close
{
 position:absolute;
 background: url(../images/close_ref.png) 10px 10px no-repeat;
 width:38px;
 height:35px;
 right: 10px;
 top: 10px;
}

.arrow_ref
{
 position:absolute;
 background: url(../images/arrow_ref.png);
 width:37px;
 height:28px;
 display:block;
 right: 110px;
 bottom: -28px;
}
.arrow_info
{
 position:absolute;
 background: url(../images/arrow_info.png);
 width:37px;
 height:28px;
 display:block;
 right: 80px;
 bottom: -28px;
}

#scroll-wrapper {
 width:480px;
 font-family: 'Helv_Roman';
 font-size:14px;
 background-color:#FFF;
 border-radius:30px;
 margin-top:20px;
 position:absolute;
 bottom: 80px;
 padding:25px;
 opacity:1;
 z-index:100 !important;
 display:none;
}
.scroll_ref{ left:240px;}
.scroll_info{ left:260px;}

#scroll-wrapper #scroller {
	/*padding-bottom:20px;*/
	word-wrap: break-word ;
	word-break:normal;
}
.inner_wapper{ height:493px; width:394px; left:627px; top:55px; position:absolute;}


/** Vertical Scrollbar---*/
.scrollV {
	position:absolute;
	z-index:100;
	width:8px;
	bottom:30px;
	top:0;
	right:10px;
}

.scrollV > div {
	position:absolute;
	z-index:100;
	width:100%;
	
	background:-webkit-gradient(linear, 0 0, 100% 0, from(#FFF), to(#FFF));
	opacity:0.2;
	-webkit-background-clip:padding-box;
	-moz-background-clip:padding-box;
	-o-background-clip:padding-box;
	background-clip:padding-box;
	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
}

/* ---hide ref----*/



/*navi bottom----*/
#menuViewContainer
{
	display:none !important;
	
}
#menu .active > a .text, #menu .current > a .text 
{
    background-size: 100% 100%;
    height: 32px !important;
}



#menu .active .border, #menu .current .border , #menu-wrapper .border
{
    background-repeat: no-repeat;
	background-position: top right;
}
#menu>ul >li>a>.border{ display:none;}


.logo{
	background: url(../images/logo_bot_right.png) no-repeat;
	width:168px;
	height:77px;
	position:absolute;
	right:21px;
	top:682px;
	z-index:10;
	background-size:168px 77px;
}

.bg_blue_full{ background:url(../images/bg_blue_full.jpg) 0 0 no-repeat;  position:absolute; top:0; left:0; width:1024px; height:768px;}

/*------edit menu------*/

#menuViewContainer #menu-wrapper .text 
{
	background:none ;
	background-image:none ;
	height: 32px !important;
	font-family: 'Helv_Round_Bold';
	font-size:15px;
	z-index:3 !important;
	text-transform:uppercase;
	text-shadow:0 0 4px RGBA(0,0,0, .5);
	bottom:15px !important;
	top:3px !important;

}
#menuViewContainer #menu-wrapper .text ,#menuViewContainer #menu-wrapper a
{
	width:auto;
	position:relative;
}
#menuViewContainer #menu-wrapper #menu >ul >li > a>.text{ padding:0 15px;}
.icon_child{ display:none !important;}
#menu .dot { width:4px !important}
#menu-wrapper .buttons{ z-index:100; height:45px !important; left:644px;}

#menuViewContainer #menu-wrapper .button{ float:left; height:50px; position:absolute; width:45px;}
#menu-wrapper .ref{ top:0px; left:0}
#menu-wrapper .related{ top:0px; left:45px}
#menuViewContainer #menu-wrapper .ref.deactive{ opacity:0.5;}
#menuViewContainer #menu-wrapper .related.deactive{ opacity:0.5;}

#menuViewContainer  #menu-wrapper .button{ background-position: top right}

#menuViewContainer #menu-wrap{ width:840px;}
#menuViewContainer #menu-wrapper .buttons .active { background:url(../images/border_active.png) top right no-repeat;}
#menuViewContainer #menu{ height:50px !important; left:0px !important; bottom: 0 !important; margin-left:7px;   width:790px !important;}
#menuViewContainer #menu > ul{ background:url(../images/menu.png) 0 0 no-repeat;  background-size:780px 50px; height:41px; padding-top:9px; padding-left:7px; width:790px; }
 #menu >ul > li, #menuViewContainer #menu-wrapper .button{  padding:0; padding-bottom:4px; height:45px; background:url(../images/device.jpg) top right no-repeat;float:left  }

#menu li li{ width:100px;}

#menu-wrapper li.current, #menu-wrapper li.active{ background: url(../images/border_active.png)  top right no-repeat; background-position-y:0 !important}

#menu-wrapper ul ul li.current, #menu-wrapper ul ul  li.active{ background:none;}

 
#menu .dotmenus{ margin-top:-51px; z-index:4}

.navigator_models_menu_1> a > img, .navigator_models_menu_3> a > img, .navigator_models_menu_5> a > img, .navigator_models_menu_7> a > img, .navigator_models_menu_9> a > img, .navigator_models_menu_11> a > img, .navigator_models_menu_12> a > img{ display:none !important;}
#menuViewContainer #menu-wrapper #menu >ul > li{ margin:0 0 }

#menuViewContainer #menu ul ul
{
	bottom: 50px;	
}
#menu-wrapper .ref a, #menu-wrapper .related a{ background-size:48px 38px;}
#menuViewContainer #menu-wrapper .button{ margin-top:4px;}


#menuViewContainer #menu-wrapper ul ul li{ }

#menuViewContainer #menu-wrapper ul ul li.current img, #menuViewContainer #menu-wrapper ul ul li.current .border{ opacity:1}

#menu .navigator_models_menu_1{ width:75px;}
#menu > ul >li.navigator_models_menu_1.current, #menu > ul >li.navigator_models_menu_1.active{-webkit-border-top-left-radius:20px; background:url(../images/menu_1st.png) 0 0 no-repeat}

#menu .navigator_models_menu_1 ul{ left:-13px;}

#menu .navigator_models_menu_3 ul{ left:-7px;}



#menu .navigator_models_menu_7 ul{ left:16px;}

#menu .navigator_models_menu_9 ul{ left:2px;}

#menu .navigator_models_menu_12 ul{ left:-28px;}
#menu .navigator_models_menu_11 ul{ left:-35px;}

#menu > ul > li.navigator_models_menu_9{ background:none;}
#menu > ul > li.navigator_models_menu_9.current, #menu > ul > li.navigator_models_menu_9.active {
background: url(../images/border_active.png) top left no-repeat;}

#menu > ul > li.navigator_models_menu_11{ background:none;}
#menu > ul > li.navigator_models_menu_11.current, #menu > ul > li.navigator_models_menu_11.active{-webkit-border-top-right-radius:20px; background:url(../images/menu_last.png) top right no-repeat}

#menu .navigator_models_menu_12{ width:50px;}
#menuViewContainer #menu > ul> li.navigator_models_menu_12{ margin-left:57px !important;}
#menuViewContainer #menu > ul> li.navigator_models_menu_11{ margin-left:90px !important; width:45px;}

#menuViewContainer #menu .dot.current{ background-position: left -8px;}

.icon_home{ background:url(../images/iconhome.png) 0 0 no-repeat; width:75px; height:50px; background-size: 75px 50px;}
#menuViewContainer #menu > ul> li.navigator_models_menu_12 .text{ background:url(../images/icon_asset12.png) 0 0 no-repeat; width:50px; height:50px; background-size: 50px 50px; text-indent:-9999px;}
#menu-wrapper #navbutton-ref{ top:0px; left:0}
#menu-wrapper #navbutton-info{ top:0px; left:45px}
#menuViewContainer #menu-wrapper .navbutton-ref.deactive{ opacity:0.5;}
#menuViewContainer #menu-wrapper .navbutton-info.deactive{ opacity:0.5;}


#menuViewContainer  #menu-wrapper .related,#menuViewContainer  #menu-wrapper .ref
{
	display:none;
}

#menuViewContainer #menu .navigator_models_menu_1 .text{ background:url(../images/iconhome.png) 0 -5px no-repeat !important; text-indent:-9999px; background-size: 75px 50px}