<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Supported Orientations</key>
	<dict>
		<key>Landscape Left</key>
		<true/>
		<key>Landscape Right</key>
		<true/>
		<key>Portrait</key>
		<false/>
		<key>Portrait Upside Down</key>
		<false/>
	</dict>
	<key>Menu</key>
	<dict/>
	<key>ActiveCall</key>
	<array>
		<string>Main Flow - Page1</string>
		<string>Shared Slides - Slide 1</string>
	</array>
	<key>Slides</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Main Flow - Page1</string>
			<key>URL</key>
			<string>MainFlow/Page1/index.html</string>
			<key>Landscape Preview</key>
			<string>MainFlow/Page1/Preview.jpg</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Flow A - Page 1</string>
			<key>URL</key>
			<string>FlowA/FlowA_Page1/index.html</string>
			<key>Landscape Preview</key>
			<string>FlowA/FlowA_Page1/Preview.jpg</string>
		</dict>
		<dict>
			<key>Landscape Preview</key>
			<string>FlowA/FlowA_Page2/Preview.jpg</string>
			<key>Title</key>
			<string>Flow A - Page 2</string>
			<key>URL</key>
			<string>FlowA/FlowA_Page2/index.html</string>
		</dict>
		<dict>
			<key>Landscape Preview</key>
			<string>FlowB/FlowB_Page1/Preview.jpg</string>
			<key>Title</key>
			<string>Flow B - Page 1</string>
			<key>URL</key>
			<string>FlowB/FlowB_Page1/index.html</string>
		</dict>
		<dict>
			<key>Landscape Preview</key>
			<string>SharedSlides/SharedSlide1/Preview.jpg</string>
			<key>Title</key>
			<string>Shared Slides - Slide 1</string>
			<key>URL</key>
			<string>SharedSlides/SharedSlide1/index.html</string>
		</dict>
	</array>
	<key>AlternateCalls</key>
	<dict>
		<key>FlowA</key>
		<array>
			<string>Flow A - Page 1</string>
			<string>Flow A - Page 2</string>
			<string>Shared Slides - Slide 1</string>
		</array>
		<key>FlowB</key>
		<array>
			<string>Flow B - Page 1</string>
			<string>Shared Slides - Slide 1</string>
		</array>
	</dict>
</dict>
</plist>
